<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MedicalService" behaviorConfiguration="medicalServiceBehavior">
        <endpoint address="private" 
                  binding="basicHttpBinding" 
                  contract="IPrivateMedicalService"/>
        <endpoint address="netrika" 
                  binding="basicHttpBinding" 
                  contract="INetrikaMedicalService"/>
        <endpoint address="private/web"
                  binding="webHttpBinding"
                  contract="IPrivateMedicalService"
                  behaviorConfiguration="webEndpointBehavior" 
                  bindingConfiguration="webBinding"/>
        <endpoint address="netrika/web"
                  binding="webHttpBinding"
                  contract="INetrikaMedicalService"
                  behaviorConfiguration="webEndpointBehavior"
                  bindingConfiguration="webBinding"/>
      </service>
    </services>
    <client>
      <endpoint address="http://r23-rc.zdrav.netrika.ru/Hub2/HubService.svc"
          binding="basicHttpBinding"
          contract="NetrikaReference.IHubService"/>     
    </client>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webEndpointBehavior">
          <webHttp defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="medicalServiceBehavior">
          
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующему параметру значение "false". -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings> 
    <add name="TestBase" 
         connectionString="(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Testbase.mdf;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="guid" value="83FC90E7-F8AC-4D4D-BB7A-0763F2D5F3AD"/>
    <add key="idHistory" value="0"/>
  </appSettings>
</configuration>