<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHubService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="Soap12_HubService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://r23-rc.zdrav.netrika.ru/Hub2/HubService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHubService"
                contract="NetrikaReference.IHubService" name="BasicHttpBinding_IHubService" />
            <endpoint address="http://r23-rc.zdrav.netrika.ru/Hub2/HubService.svc/soap12"
                binding="customBinding" bindingConfiguration="Soap12_HubService"
                contract="NetrikaReference.IHubService" name="Soap12_HubService" />
        </client>
    </system.serviceModel>
</configuration>